@media(max-width: 430px) {

    /* homepage */

    .conteiner {
        padding-top: 60px;

    }

    header {
        padding: 0 10px 0 0;
    }

    .header-logo1 {
        height: 60px;
        width: 25%;
        font-size: 1rem;

    }

    .navigation_ul {
        /* display: none; */
        position: fixed;
        top: 60px;
        height: 100px;
        background-color: gray;
        width: 30%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        gap: 0;
        align-items: center;
        left: -101%;
        transform: translateX(-50%);


    }

    .navigation_li {
        font-size: .8rem;

    }



    .fa-cart-shopping {
        display: none;
    }

    .fa-bars {
        display: block;
        color: white;
        width: 15%;
        font-size: 1rem;
    }


    .show {
        left: 15%;
    }


    /* section1 */


    .section1 {
        height: 290px;

    }

    .text1 {
        font-size: 1.5rem;

    }

    /* footer */

    footer {
        padding: 30px 100px 30px 100px;

    }

    .footerimg {
        display: none;
    }

    .footer-div {
        gap: 55px;

    }

    /* artwork */
    /* section */


    .fa-cart-shopping {
        display: none;
    }



    .divtext {

        width: 98%;
        padding: 7px 14px 18px 15px;
        gap: 16px;
    }

    h2 {
        font-size: 1.06rem;

    }

    .divPtext {
        font-size: 1rem;

    }

    /* article */

    article {

        padding: 28px 21px 65px 21px;

    }

    h3 {

        margin-bottom: 42px;

    }

    .cards {

        flex-direction: column;
        row-gap: 42px;
    }

    .card1 {
        width: 100%;
        height: 350px;

    }

    .card1:hover {
        box-shadow: 15px 15px 15px black;
        transform: scale(1);
    }


    .card3 {
        display: none;
    }

    .cardtext {
        font-size: 2rem;

    }



    /* contact */

    .fa-cart-shopping {
        display: none;
    }




    main {

        padding: 50px 0 50px 0;

    }

    .contactdiv {
        width: 95%;
        flex-direction: column;
        padding: 24px 40px 38px 40px;
        row-gap: 86px;
    }


    .contactdiv1 {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;

    }

    .contact {
        display: none;
    }

    .Formdiv {
        width: 100%;
        justify-content: center;
        align-items: center;
    }


    .infodiv {

        flex-direction: column;
        justify-content: flex-start;
        width: 100%;


    }

    .Fullname {
        width: 100%;
        font-size: 1.25rem;
        margin-bottom: 42px;


    }


    .mail {
        width: 100%;
        font-size: 1.25rem;

    }



    .submit {
        width: 65%;
        height: 44px;

    }

    .submit:hover {
        cursor: pointer;
    }


    button[type="submit"] {
        margin-top: 0;
    }



}