/* homepage */
.conteiner {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    /* border: 5px solid red; */



}

/* header */

header {
    max-width: inherit;
    width: inherit;
    background-color: #9EAEC5;
    /* border: 3px solid yellow; */
    padding: 0 114px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%)
}



.header-logo1 {
    background-color: #C0BA8F;
    height: 100px;
    width: 15%;
    color: #F6F5F2;
    font-family: 'Rubik';
    font-size: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 50% 50%;



}

.header-logo1:hover {
    cursor: pointer;
    background-color: rgb(68, 67, 67);
    transition-duration: 2s;
}



ul {
    display: flex;
    gap: 47px;
    font-size: 1.5rem;
    font-family: 'Rubik';

}


.active {
    color: #623932;
    border-bottom: 2px solid #623932;
}


.noactive1 {
    color: #E3F6F6;
}

.noactive1:hover {
    border-bottom: 2px solid #623932;
}

.noactive2 {
    color: #E3F6F6;
}

.noactive2:hover {
    border-bottom: 2px solid #623932;

}

.fa-cart-shopping {
    color: #EDF0F5;
    font-size: x-large;

}


/* section1 */


.section1 {
    width: 100%;
    height: 678px;
    /* border: 5px solid green; */
    background-image: url(../images/Mainphoto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;


}

.text1 {
    color: #FFFFFF;
    font-family: 'Rubik';
    font-size: 6rem;
    animation-name: textanimation;
    animation-duration: 4s;

}

@keyframes textanimation {

    from {

        color: gray;
        width: 100%;
    }

    to {

        color: #E3F6F6;
        width: 70%;
    }
}

/* footer */

footer {
    width: 100%;
    padding: 76px 100px 74px 100px;
    background-color: #C0BA8F;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footertext {

    font-family: 'Rubik';
    color: #DDDBCB;
    font-size: 1.3rem;
}


.footer-div {
    display: flex;
    gap: 47px;

}

.fa-facebook-messenger {
    color: #E3F6F6;
    font-size: 2rem;


}

.fa-facebook-messenger:hover {

    box-shadow: 10px 10px 20px white;

}


.fa-instagram {
    color: #E3F6F6;
    font-size: 2rem;
}

.fa-instagram:hover {
    box-shadow: 10px 10px 20px white;

}



.fa-youtube {
    color: #E3F6F6;
    font-size: 2rem;
}

.fa-youtube:hover {
    box-shadow: 10px 10px 20px white;
}




/* artwork */

/* section */


.divtext {

    width: 70%;
    /* border: 3px solid yellow; */
    background-color: #623932;
    padding: 35px 38px 28px 34px;
    display: flex;
    flex-wrap: wrap;
    gap: 41px;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #FFFFFF;
    font-size: 1.78rem;
    font-family: 'Rubik';
}



.divPtext {
    color: #FFFFFF;
    font-size: 1.25rem;
    font-family: 'Rubik';

}




/* article */

article {
    width: 100%;
    margin: 0 auto;
    /* border: 3px solid blue; */
    background-color: #6A7B98;
    padding: 70px 50px;

}

h3 {
    color: #FFFFFF;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 150px;

}

.cards {
    width: 98%;
    /* border: 3px solid yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 90px;
}


.card1 {
    width: 30%;
    height: 445px;
    /* border: 3px solid goldenrod; */
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;

}

.card2 {
    width: 30%;
    height: 445px;
    /* border: 3px solid goldenrod; */
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;

}

.card3 {
    width: 30%;
    height: 445px;
    /* border: 3px solid goldenrod; */
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;

}


.photpdiv {
    width: 90%;
    height: 70%;
    /* border: 3px solid yellow; */
    overflow: hidden;
}

.photo1 {
    /* border: 3px solid purple; */
    width: 100%;
    height: 100%;
    transition: 2s ease-in-out;

}

.photo1:hover {
    transform: scale(1.5);
    cursor: pointer;

}

.cardtext {
    font-family: 'Inter';
    font-size: 2rem;
    color: #82625D;
    font-style: italic;

}



/* contact */

main {
    width: 100%;
    background-color: #6A7B98;
    padding: 89px 0 84px 0;
    /* padding: 89px 70px 84px 70px; */
}

.contactdiv {
    width: 90%;
    margin: 0 auto;
    padding: 32px 0 35px 0;
    /* border: 5px solid yellow; */
    background-color: rgba(237, 240, 245, 0.68);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;

}

.contactdiv1 {
    /* border: 3px solid blue; */
    width: 45%;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    gap: 133px;

}

.phonediv {
    display: flex;
    align-items: center;
    gap: 45px;

}

.maildiv {
    display: flex;
    align-items: center;
    gap: 45px;
}

.addresdiv {
    display: flex;
    align-items: center;
    gap: 45px;

}

.contactext {
    color: #623932;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Rubik';

}

.contactext2 {
    color: #000000A3;
    font-size: 1.25rem;
    font-weight: 300;

}

.fa-phone {
    font-size: 3.5rem;
    color: #F90E0E;
    transition: 1s linear;

}

.fa-phone:hover {
    transform: scale(1.5);
    cursor: pointer;    
}

.fa-envelope {
    font-size: 3.5rem;
    color: #F90E0E;
    transition: 1s linear;
}

.fa-envelope:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.fa-location-pin {
    font-size: 3.5rem;
    color: #F90E0E;
    transition: 1s linear;
}

.fa-location-pin:hover {
    transform: scale(1.5);
    cursor: pointer;
}


/* form */

.Formdiv {
    /* padding: 32px 40px 35px 0; */
    width: 45%;
    /* border: 3px solid black; */
    display: flex;
    flex-direction: column;

}

.infodiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 66px;

}


.Fullname,
.mail {
    width: 35%;
    font-size: 1rem;

}




.foolname {
    color: #F90E0E;
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Rubik';

}

.foolnameinput {
    width: 90%;
    border: none;
    border-bottom: 4px solid #FFFFFF;
    background-color: transparent;
}




.message {

    width: 100%;
    height: 147px;
    border: 4px solid #EDF0F5;
    border-radius: 10px;
    border: 4px solid #FFFFFF;

}

.textareatext {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    color: #F6F5F2;
    font-weight: 300;
    background-color: rgba(237, 240, 245, 0.68);
    ;
    resize: none;
    border: none;

}

button[type="submit"] {
    width: 100%;
    height: 78px;
    margin-top: 43px;
    background-color: #F90E0E;
    color: #FFFFFF;
    border: 4px solid white;
    border-radius: 8px;
    font-size: 2.25rem;
    font-family: 'Rubik';
    transition: 1s ease-in;
    }

button[type="submit"]:hover{
    cursor: pointer;
    box-shadow: 10px 10px 15px white;
    transform: scale(1.2);
}

.submit{
    width: 50%;
    /* border: 3px solid black; */
    
    
}



