/* homepage */
.conteiner {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
    border: 5px solid red;
    /* position: relative; */


}

/* header */

header {
    max-width: inherit;
    width: inherit;
    background-color: #9EAEC5;
    border: 3px solid yellow;
    padding: 0 114px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 50%;
    transform: translateX(-50%)
}



.header-logo1 {
    background-color: #C0BA8F;
    height: 100px;
    width: 15%;
    color: #F6F5F2;
    font-family: 'Rubik';
    font-size: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 50% 50%;



}

.header-logo1:hover {
    cursor: pointer;
    background-color: rgb(68, 67, 67);
    transition-duration: 2s;
}



ul {
    display: flex;
    gap: 47px;
    font-size: 1.5rem;
    font-family: 'Rubik';

}


.active {
    color: #623932;
    border-bottom: 2px solid #623932;
}


.noactive1 {
    color: #E3F6F6;
}

.noactive1:hover {
    border-bottom: 2px solid #623932;
}

.noactive2 {
    color: #E3F6F6;
}

.noactive2:hover {
    border-bottom: 2px solid #623932;

}

.fa-cart-shopping {
    color: #EDF0F5;
    font-size: x-large;

}


/* section1 */


.section1 {
    width: 100%;
    height: 678px;
    border: 5px solid green;
    background-image: url(../images/Mainphoto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;


}

.text1 {
    color: #FFFFFF;
    font-family: 'Rubik';
    font-size: 6rem;
    animation-name: textanimation;
    animation-duration: 4s;

}

@keyframes textanimation {

    from {

        color: gray;
        width: 100%;
    }

    to {

        color: #E3F6F6;
        width: 70%;
    }
}

/* footer */

footer {
    width: 100%;
    padding: 76px 100px 74px 100px;
    background-color: #C0BA8F;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footertext {
    font-family: 'Rubik';
    color: #DDDBCB;
    font-size: 1.3rem;
}


.footer-div {
    display: flex;
    gap: 47px;

}

.fa-facebook-messenger {
    color: #E3F6F6;
    font-size: 2rem;


}

.fa-facebook-messenger:hover {

    box-shadow: 10px 10px 20px white;

}


.fa-instagram {
    color: #E3F6F6;
    font-size: 2rem;
}

.fa-instagram:hover {
    box-shadow: 10px 10px 20px white;

}



.fa-youtube {
    color: #E3F6F6;
    font-size: 2rem;
}

.fa-youtube:hover {
    box-shadow: 10px 10px 20px white;
}


/* overflow: hidden; დივში იქმნება დივი
fill-mode  შავთეთრი */



/* artwork */

/* section */


.divtext {

    width: 70%;
    border: 3px solid yellow;
    background-color: #623932;
    padding: 35px 38px 28px 34px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 41px;
    justify-content: center;
    align-items: center;
}

h2{
    color:#FFFFFF;
    font-size: 1.78rem;
    font-family: 'Rubik';
}



.divPtext {
    color: #FFFFFF;
    font-size: 1.25rem;
    font-family: 'Rubik'; 

}



article{
    width: 100%;
    margin: 0 auto;
    border: 3px solid blue;
    background-color: #6A7B98;
    padding: 70px 50px 70px 50px;

}

h3{
    color: #FFFFFF;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 150px;

}

.cards{
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    
   
}

.card1{
    width: 30%;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.photo1{
    width: 70%;
    
}



/* contact */

main{
    width: 100%;
    background-color: #F5F5F5;;
}

form{
    width: 90%;
    margin: 0 auto;
}